@page
@model Snackis6.Pages.Admin.AdminReports.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Reported</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reported.Id" />
            <div class="form-group">
                <label asp-for="Reported.Reason" class="control-label"></label>
                <input asp-for="Reported.Reason" class="form-control" />
                <span asp-validation-for="Reported.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reported.ReporterId" class="control-label"></label>
                <select asp-for="Reported.ReporterId" class="form-control" asp-items="ViewBag.ReporterId"></select>
                <span asp-validation-for="Reported.ReporterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reported.ReportedUserId" class="control-label"></label>
                <select asp-for="Reported.ReportedUserId" class="form-control" asp-items="ViewBag.ReportedUserId"></select>
                <span asp-validation-for="Reported.ReportedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reported.CommentId" class="control-label"></label>
                <select asp-for="Reported.CommentId" class="form-control" asp-items="ViewBag.CommentId"></select>
                <span asp-validation-for="Reported.CommentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
