@page
@model Snackis6.Pages.Comments.ReportedModel
@{
}


<h1>Thank you for your help!</h1> <br />
<h3>Your report has been submitted and will be reviewed by an admin as soon as possible.</h3>

<div>
    <br />
    <a asp-page="/posts/index">Back to posts</a>
</div>